{#
/**
 *
 * EDgrid's theme implementation to display a single page.
 *
 */
#}

<div class="ed-container">
    <header class="ed-container ed-item header">
        {% if page.header %}
            {{ page.header }}
        {% endif %}
    </header>
    {% if page.banner %}
        <div class="ed-container ed-item banner">
            {{ page.banner }}
        </div>
    {% endif %}
    {% if page.help %}
        <div class="ed-container ed-item help">
            {{ page.help }}
        </div>
    {% endif %}
    <div class="ed-container ed-item">
        {% if page.sidebar_first %}
            <aside id="sidebar-first" class="ed-container ed-item {{ sidebar_first_grid }} sidebar-first">
                {{ page.sidebar_first }}
            </aside>
        {% endif %}
        <main class="ed-container ed-item {{ content_grid }} main">
            {% if page.highlighted %}
                <div class="ed-container-ed ed-item highlighted">
                    {{ page.highlighted }}
                </div>
            {% endif %}
            <section class="ed-container ed-item content">
                {{ page.content }}
            </section>
        </main>
        {% if page.sidebar_second %}
            <aside id="sidebar-second" class="ed-container ed-item {{ sidebar_sec_grid }} sidebar-second">
                {{ page.sidebar_second }}
            </aside>
        {% endif %}
    </div>
    {% if page.featured_first or page.featured_second or page.featured_third %}
        <div class="ed-container ed-item featured">
            {% if page.featured_first %}
                <div id="footer-first" class="m-50 l-1-3 ed-container featured-first">
                    {{ page.featured_first }}
                </div>
            {% endif %}
            {% if page.featured_second %}
                <div id="footer-second" class="m-50 l-1-3 ed-container featured-second">
                    {{ page.featured_second }}
                </div>
            {% endif %}
            {% if page.featured_third %}
                <div id="footer-third" class="l-1-3 ed-container featured-third">
                    {{ page.featured_third }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
        <div class="ed-container ed-item">
            {% if page.footer_first %}
                <div id="footer-first" class="m-50 l-25 ed-container footer-first">
                    {{ page.footer_first }}
                </div>
            {% endif %}
            {% if page.footer_second %}
                <div id="footer-second" class="m-50 l-25 ed-container footer-second">
                    {{ page.footer_second }}
                </div>
            {% endif %}
            {% if page.footer_third %}
                <div id="footer-third" class="m-50 l-25 ed-container footer-third">
                    {{ page.footer_third }}
                </div>
            {% endif %}
            {% if page.footer_fourth %}
                <div id="footer-fourth" class="m-50 l-25 ed-container footer-fourth">
                    {{ page.footer_fourth }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if page.footer %}
        <footer class="ed-container ed-item footer">
            {{ page.footer }}
        </footer>
    {% endif %}
</div>
