<div class="full">

  <header role="banner" class="full header bg-gray">
    <div class="w-80 m-auto d-flex j-between">
      {{ page.header }}
    </div>
  </header>

  <section>
    <div class="d-flex j-between">
      <div>
        {{ page.logo }}
      </div>

      <div class="d-flex">
        {{ page.banner }}
      </div>
    </div>

    <div>
      {{ page.content_banner }}
    </div>
  </section>

  <main role="main">
    <div class="full">
      {{ page.content }}
    </div>
  </main>

  {% if page.footer %}
    <footer role="contentinfo" class="full p-relative bg-gray-light p-60">
      <div class="ed-container j-between">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>
